#game {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#timer {
    font-size: 8rem;
}

#memory {
    width: 100%;
}

#numbers>*,
#try>* {
    margin: 0 50px;
    font-size: 30px;
}

#try input {
    width: 100px;
    margin: 20px 50px;
}